<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>REGISTRO </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cedula" formControlName="Cedula">
            <mat-error *ngIf="addressForm.controls['Cedula'].hasError('required')">
              Cedula<strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="Nombre">
            <mat-error *ngIf="addressForm.controls['Nombre'].hasError('required')">
              Nombre<strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="Apellido">
            <mat-error *ngIf="addressForm.controls['Apellido'].hasError('required')">
              Apellido<strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Telefono" formControlName="Telefono">
            <mat-error *ngIf="addressForm.controls['Telefono'].hasError('required')">
              Telefono<strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo" formControlName="Correo">
            <mat-error *ngIf="addressForm.controls['Correo'].hasError('required')">
              Correo<strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Envíar</button>
    </mat-card-actions>
  </mat-card>

</form>