<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>CONTRATOS DE ARRENDAMIENTO</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Matricula Inmobiliaria" formControlName="MatInmueble">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Chip" formControlName="ChipInmueble">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Cedula Propietario" formControlName="CedulaPropietario"></textarea>
            <mat-error *ngIf="addressForm.controls['CedulaPropietario'].hasError('required')">
              Cedula Propietario<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Matricula Proyecto" formControlName="MatProyecto"></textarea>
          <mat-error *ngIf="addressForm.controls['MatProyecto'].hasError('required')">
            Matricula Proyecto<strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Tipo de Inmueble" formControlName="TipoInmuebe">
            <mat-error *ngIf="addressForm.controls['TipoInmuebe'].hasError('required')">
              Tipo de Inmueble<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Nomenclatura" formControlName="Nomenclatura"></textarea>
            <mat-error *ngIf="addressForm.controls['Nomenclatura'].hasError('required')">
              Nomenclatura <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Numero de Escritura" formControlName="NumEscritura"></textarea>
            <mat-error *ngIf="addressForm.controls['NumEscritura'].hasError('required')">
              Numero de Escritura<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Area Privada" formControlName="AreaPrivada"></textarea>
            <mat-error *ngIf="addressForm.controls['AreaPrivada'].hasError('required')">
              Area Privada<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Area Construida" formControlName="AreaConstruida"></textarea>
          <mat-error *ngIf="addressForm.controls['AreaConstruida'].hasError('required')">
            Area Construida<strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Alcobas" formControlName="Alcobas"></textarea>
            <mat-error *ngIf="addressForm.controls['Alcobas'].hasError('required')">
              Alcobas<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Baños" formControlName="Banio"></textarea>
          <mat-error *ngIf="addressForm.controls['Banio'].hasError('required')">
            Baños<strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Vehiculos" formControlName="Vehiculos"></textarea>
          <mat-error *ngIf="addressForm.controls['Vehiculos'].hasError('required')">
            Vehiculos<strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>