<div class="mat-elevation-z8 bottom table">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>

    <div matColumnDef="{{disCol}}" *ngFor="let disCol of displayedColumns">
      <div *ngIf="disCol!='Acciones'">
        <th mat-header-cell *matHeaderCellDef>{{disCol}}</th>
        <td mat-cell *matCellDef="let row">{{row[disCol]}}</td>
      </div>
      <div *ngIf="disCol=='Acciones'">
        <th mat-header-cell *matHeaderCellDef>{{disCol}}</th>
        <td mat-cell *matCellDef="let row">
          <a class="opcion"><i class="fa-duotone fa-pen-to-square fa-beat"></i></a>
          <a class="opcion"><i class="fa-duotone fa-trash fa-beat"></i></a>
        </td>
      </div>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row fila" *matNoDataRow>
      <td class="mat-cell celda" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>