<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Nuevo Arrendatario </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Numero Contrato" formControlName="Contrato">
            <mat-error *ngIf="addressForm.controls['Contrato'].hasError('required')">
              Numero Contrato <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cedula Arrendatario" formControlName="CedulaArrendatario">
            <mat-error *ngIf="addressForm.controls['CedulaArrendatario'].hasError('required')">
              Cedula Arrendatario <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fecha de Pago" formControlName="FechaPago">
            <mat-error *ngIf="addressForm.controls['FechaPago'].hasError('required')">
              Fecha de Pago <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Valor Canon" formControlName="VrCanon">
            <mat-error *ngIf="addressForm.controls['VrCanon'].hasError('required')">
              Valor Canon <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Recibo de Caja" formControlName="ReciboCaja">
            <mat-error *ngIf="addressForm.controls['ReciboCaja'].hasError('required')">
              Recibo de Caja <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Crear</button>
    </mat-card-actions>
  </mat-card>

</form>