/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table {
    width: 80%;
    margin: 0 auto;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .opcion{
    text-decoration: none;
    text-decoration-color: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
  }
  
  .opcion a:hover{
    color: rgb(32, 32, 32);
  }